@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'tailwindcss';

body {
  font-family: 'Roboto', sans-serif;
}

/* Apply these styles to your global CSS file or in a <style> tag */

.skeleton {
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
}

/* Shimmer animation */
@keyframes shimmer {
  100% {
    background-position: -200% 0;
  }
}
